# Code owners are automatically requested for review when someone opens a pull request that modifies code that they own. This helps speed up the review process and ensures we adhere the standards we set up for ourselves.

# Learn about CODEOWNERS file syntax to choose relevant settings for your project: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax